/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@0;1&family=Changa&family=Crimson+Text:ital@0;1&display=swap');

/* Override default styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Global styles */
body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ddd5c6;
}

main {
    /* Take up any surplus space */
    flex: 1 0 auto;
}

h1 {
    font-family: 'Crimson Text', serif;
}

h2 {
    font-family: 'Changa', sans-serif;
}

p {
    padding: 10px 5px;
    margin: 0 10px;
}

.center {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.logo-image {
    background: url("../images/book-stack.png") no-repeat center center / cover;
    height: 25vw;
    width: 25vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

.text-input {
    text-align: center;
}

.hide {
    display: none;
}

/* Quiz screen display styling */
/* Credit: Web Dev Simplified */
.container {
    width: 800px;
    max-width: 80%;
    background-color: #c3a894;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* Credit: Web Dev Simplified */
.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px;
}

.btn {
    border-style: none;
    border-radius: 5px;
    background-color: #aa7b63;
    padding: 5px 10px;
    color: #ffff;
    outline: none;
}

.start-btn,
.next-btn,
.quit-btn,
.play-again-btn,
.home-btn {
    background-color: #904e31;
    font-size: 1.10rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 3px;
    gap: 20px;
}

/* Credit: GreatStack */
.correct {
    background: #26f42d;
    color: #000;
}

/* Credit: GreatStack */
.wrong {
    background: #f40f0f;
    color: #000;
}

/* Footer styling */
footer {
    background-color: #d0bfad;
    margin-top: auto;
}

footer p,
.visit-github {
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 5px;
}

.visit-github:visited {
    color: inherit;
}

.github-page {
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.github-page i {
    font-size: 150%;
    padding: 0 1.5rem;
    color: #b7927c;
}

/* Results screen display styling */
#total-score {
    text-align: left;
    padding: 0 5px;
    margin: 10px 5px;
}

/* Mobile-first design */
/* Media query: tablets and larger devices (768px plus) */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.5rem;
    }

    .logo-image {
        max-width: 10rem;
        max-height: 10rem;
    }

    main.center {
        max-width: 50%;
        margin: auto;
        text-align: center;
    }

    .text-input {
        width: 15rem;
        height: 2rem;
        text-align: center;
        font-size: 1rem;
    }

    #answer-buttons button {
        font-size: 1.2rem;
    }

    .controls .btn {
        font-size: 2rem;
    }
}

/* Media query: laptop and larger devices (1024px plus) */
@media screen and (min-width: 1024px) {
    .github-page i:hover,
    .visit-github:hover {
        color: #904e31;
    } 

    /* Credit: Brian Design and GreatStack */
    /* Make answer buttons interactive when hovered on before selecting their first answer */
    #answer-buttons button:hover:not([disabled]) {
        cursor: pointer;
        transform: scale(1.02);
        transform: transform 100ms;
        outline: solid #000;
        color: #000;
    }

    /* Credit: Web Dev Simplified */
    .btn-grid {
        display: grid;
        /* Split into two columns to make use of extra space */
        grid-template-columns: repeat(2, auto);
        gap: 15px;
        margin: 20px;
        padding: 0 20px;
    }

    /* Credit: Brian Design */
    /* Make control buttons interactive when hovered on */
    .controls .btn:hover {
        cursor: pointer;
        transform: scale(1.02);
        transform: transform 100ms;
        outline: solid #000;
        color: #000;
    }

    #total-score {
        text-align: left;
        padding: 0 30px;
        margin: 10px 30px;
    }
}